# Aurora

**What type of listings offer the greates value for customers across three major cities depending on availability and price on Airbnb?** .

I plan to answer this by plotting the airbnb listings by availability and price and seeing the most affordable price that has the most avalailbility across the three different cities. I could also look at the types of listings to see if there are bigger listings for a cheaper price or more available. 

### Analysis plan:
1. Import data set of each city and drop NaN and irrelevant columns such as host_id etc
1. Consolidate the three processed data sets for combined analysis
1. Filter data in terms of forming an analysis for the research question above and team members desired research
1. Add a column to identify data specific to each city
1. Explore different possible data visualizations and use relevant axis and scales to ensure accurate representation, maybe a scatter plot could be used to see where the most populated listings are in terms of price and availability

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('../data/raw/Mexico_listings.csv')
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,3.579700e+04,Villa Dante,153786,Dici,NaN,Cuajimalpa de Morelos,19.382830,-99.271780,Entire home/apt,3882,1,0,NaN,NaN,1,363,0,NaN
1,2.075738e+06,Amazing apartment Mexico City!!!,2339771,Rodrigo,NaN,Cuauhtémoc,19.419090,-99.160430,Entire home/apt,2764,2,73,2022-12-12,0.67,1,271,17,NaN
2,7.830800e+05,Nice quiet room in a lovely house!!,1767559,Anna,NaN,La Magdalena Contreras,19.330090,-99.214180,Private room,583,1,2,2022-07-31,0.02,2,303,1,NaN
3,4.461600e+04,CONDESA HAUS B&B,196253,Condesa Haus Bed & Breakfast CDMX,NaN,Cuauhtémoc,19.411620,-99.177940,Entire home/apt,18000,1,62,2022-11-06,0.46,12,350,12,NaN
4,7.834800e+05,"Area Sta.Fe,IberoABC Hospital Rooms",4129056,Janet,NaN,Cuajimalpa de Morelos,19.353790,-99.284590,Private room,500,2,27,2019-11-30,0.25,2,361,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23009,7.884080e+17,» Casa Löu - Morelli «,206540191,Loü Dêvēt,NaN,Cuauhtémoc,19.441031,-99.139783,Private room,158,1,0,NaN,NaN,12,364,0,NaN
23010,7.884120e+17,» Casa Löu - Tlanezi «,206540191,Loü Dêvēt,NaN,Cuauhtémoc,19.440975,-99.140114,Private room,173,1,0,NaN,NaN,12,360,0,NaN
23011,7.884220e+17,Almendra/hermoso depa entero,491035565,Jose Luis,NaN,Coyoacán,19.349294,-99.153252,Entire home/apt,531,1,0,NaN,NaN,10,357,0,NaN
23012,7.884240e+17,Iconic 2-story apartment in the heart of Condesa!,10872978,Pablo,NaN,Cuauhtémoc,19.415108,-99.169176,Entire home/apt,3913,3,0,NaN,NaN,1,3,0,NaN
23013,7.884270e+17,Hermoso Departamento Céntrico,407700138,Maria Elena,NaN,Cuauhtémoc,19.450439,-99.138786,Entire home/apt,560,3,0,NaN,NaN,1,174,0,NaN