# Steven To

## Research question/interests

**I want to work with these datasets to gain a greater understanding on Air bnb listings for my personal benefit when I travel.
Specifically, which neighborhood has the listings with the best price per minimum night stay**

I can find the answer to this question by isolating, manipulating and analysing the relevant data.

## Analysis Plan:
1. Drop any NaN values and irrelavant columns.
1. Add a column that identifies the city.
1. Consolidate/combine our three data sets into one.
1. Isolate individual neighborhoods and collect numeric data releavant to our research questions.
1. Find the best way to represent this data visually.

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import seaborn as sns

In [ ]:
df = pd.read_csv('../data/raw/montreal_listings.csv')
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,29059,Lovely studio Quartier Latin,125031,Maryline,NaN,Ville-Marie,45.519390,-73.564820,Entire home/apt,147,2,396,2022-11-25,2.60,2,339,51,NaN
1,29061,Maison historique - Quartier Latin,125031,Maryline,NaN,Ville-Marie,45.519290,-73.564930,Entire home/apt,278,3,111,2022-10-11,0.84,2,291,26,NaN
2,34715,Chez Patrac ! Montreal - Métro Beaubien,149769,Alain,NaN,Rosemont-La Petite-Patrie,45.538180,-73.603600,Entire home/apt,160,14,9,2022-11-18,0.06,1,131,3,261 026
3,36301,Romantic & peaceful Plateau loft,381468,Sylvie,NaN,Le Plateau-Mont-Royal,45.530260,-73.584130,Entire home/apt,160,31,45,2022-08-22,0.49,6,295,3,NaN
4,46626,Beautiful! Charming! Spacious! Rooms!,208453,Maureen,NaN,Côte-des-Neiges-Notre-Dame-de-Grâce,45.470120,-73.607250,Private room,65,3,42,2022-10-22,0.30,2,361,18,305995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13908,781177266138093057,"Clean, Comfy and Modern Studio",279892,Julie,NaN,Côte-des-Neiges-Notre-Dame-de-Grâce,45.470596,-73.643483,Entire home/apt,42,32,0,NaN,NaN,1,173,0,NaN
13909,781184587986243680,Spacious 3 bedroom Apt on the Plateau,488779216,Daniel,NaN,Le Plateau-Mont-Royal,45.535280,-73.581756,Entire home/apt,155,2,0,NaN,NaN,18,125,0,NaN
13910,781197509172526291,Lovely 3-bedroom unit - 5 minutes from Downtown,485486671,Sofiane,NaN,Verdun,45.456360,-73.567709,Entire home/apt,99,1,0,NaN,NaN,6,79,0,NaN
13911,781199594633475354,Elegant&Modern Studio Walking Distance to Old ...,4483520,Mikaila,NaN,Ville-Marie,45.516092,-73.563601,Entire home/apt,69,2,0,NaN,NaN,10,86,0,NaN
13912,781201592127815860,Appartement Centre Ville,491316969,Anouar,NaN,Ville-Marie,45.496873,-73.570560,Entire home/apt,320,1,0,NaN,NaN,1,365,0,NaN